* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    
}
a, a:link, a:visited, a:active{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.search-bar {
    background-image: url("images/magnifying-glass.svg");
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    display: flex;
    padding-top: 1.5em;
    padding-right: 2.5em;
    width: 100%;
    font-size: 13px;
    opacity: 0.90;
    
}

nav ul > li {
    padding-right: 1.5em;
    font-weight: 500;
}

nav ul li:nth-of-type(2) {
    margin-right: auto;
}

nav ul li:first-child {
    margin-left: 2em;
}



/* nav menu icon */
.menu-icon{
    display: grid;
    grid-template-columns: 8px 8px 8px;
    grid-template-rows: 8px 8px 8px;
    grid-gap: 0.1px;
    padding-right: 1.5em;

}

.menu-icon > div {
    width: 5px;
    height: 5px;
    background-color: rgb(117, 117, 117);
}

.menu-icon div:hover {
    background-color: black;
}

.sign-in-button {
    padding: 6px 13px;
    font-weight: bold;
    color: white;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    text-decoration: none;
    border-radius: 2px;

}

/* body */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 9.5em;
    

}

.search-bar {
    width: 482px;
    height: 44px;
    border-radius: 50px;
    outline: none;
    border-color:rgb(185, 185, 185);
    padding: 1.5em 0em;
}

.search-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7em;
    padding: 3em;

}

.search-button button {
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.3em;
    color: #5F6368;

}


.search-button button:hover {
    border: 0.1em solid  #5F6368;
    cursor: pointer;
    color: rgb(12, 12, 12);
    
}
